<div class="pedido-header">
  <div class="header-top">
    <h1 class="titulo">Gestão de Pedidos</h1>
    <button class="btn-novo-pedido" (click)="abrirFormulario()">
      <span class="material-symbols-outlined">add</span>
      Novo Pedido
    </button>
  </div>
  <p class="subtitulo">Gerencie todos os pedidos em tempo real</p>

  <div class="search-box">
    <span class="material-symbols-outlined">search</span>
    <input
      type="text"
      [(ngModel)]="filtroBusca"
      (input)="filtrarPedidos()"
      placeholder="Buscar por cliente ou número do pedido..."
    />
  </div>

  <app-pedido-filtros
    [contadores]="contadores"
    (statusSelecionado)="filtrarPorStatus($event)">
  </app-pedido-filtros>


  <app-pedidos-lista
    [pedidos]="pedidosFiltrados"
    (remover)="removerPedido($event)">
  </app-pedidos-lista>

</div>


